<a href="https://colab.research.google.com/github/SongMG0401/Colab/blob/main/Lession1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 프로그래밍 1장

In [1]:
print("안산공고 컴퓨터과 3학년 3반 11번 송명근")

안산공고 컴퓨터과 3학년 3반 11번 송명근

In [4]:
print("내일은 즐거운 졸업여행")
print("준비물 잘 챙기자.")
print("다치지말고 재미있게 놀다오자. :) ")

내일은 즐거운 졸업여행
준비물 잘 챙기자.
다치지말고 재미있게 놀다오자. :)

변수 사용 예)

In [11]:
a = 100
b = 200
result = a + b
print(a, "+", b, "=", result)

100 + 200 = 300

In [13]:
a = 200
b = 100
result = a - b
print(a, "-", b, "=", result)

200 - 100 = 100

In [10]:
num1 = 100
num2 = 200
result = num1 * num2
print(a, "x", b, "=", result)

200 x 100 = 20000

In [18]:
num1 = 100
num2 = 200
result = num1 / num2
print(num1, "/", num2, "=", result)

100 / 200 = 0.5

몫을 구하는 연산자 : //

In [19]:
num1 = 100
num2 = 200
result = num1 // num2
print(num1, "//", num2, "=", result)

100 // 200 = 0

나머지를 구하는 연산자 : %

In [20]:
num1 = 100
num2 = 200
result = num1 % num2
print(num1, "%", num2, "=", result)

100 % 200 = 100

숫자의 재곱수를 구하는 연산자 : **

In [21]:
num1 = 100
num2 = 20
result = num1 ** num2
print(num1, "**", num2, "=", result)

100 ** 20 = 10000000000000000000000000000000000000000